$colors: (
    primary: #00aff0,
    secondary: #00aff0,
    tertiary: #00aff0,
);

$social-media: (
    facebook: #1877f2,
    messenger: #0084ff,
    twitter: #1da1f2,
    linkedIn: #0a66c2,
    skype: #00aff0,
    googlePlus: #ea4335,
    youtube: #ff0000,
    whatsApp: #25d366,
    medium: #02b875,
    instagram: #c32aa3,
    pinterest: #bd081c,
    google: #4285f4,
    snapchat: #fffc00,
);
