@use 'sass:map';
@use './sizes' as *;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin mq ($key) {
    $size: map-get($break-points, $key);

    @media (min-width: #{$size}) {
        @content;
    }
};
