*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	
}

img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}

a,
.button,
button {
	cursor: pointer;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #2B96CC;
	text-decoration: none;
}

a {
	color: #1696e7;
	outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
	outline: 0
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

h1 {
	font-size: 4rem;
	font-weight: 500;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2.8rem;
}

h4 {
	font-size: 2.2rem;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.6rem;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none
	}
}

p {
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 2.4rem;
	margin-bottom: 1.5rem;
}

hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 3rem 0;
	padding: 0;
}

label {
	cursor: pointer;
	font-size: 1.4rem;
	font-weight: 400;
}

// hide arrows from input type=number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// *::-moz-selection {
// 	background: #d6b161;
// 	color: #fff;
// 	text-shadow: none;
// }

// ::-moz-selection {
// 	background: #444;
// 	color: #fff;
// 	text-shadow: none;
// }

// ::selection {
// 	background: #444;
// 	color: #fff;
// 	text-shadow: none;
// }