@use '../abstracts' as *;

// font size
@each $size, $value in $font-size {
    .fz-#{$size} {
        font-size: var(--fz-#{$size});
    }
}

// margin and padding util classes
@each $value in $margin-padding {
    .m-#{$value},
    .mx-#{$value},
    .ml-#{$value} {
        margin-left: #{$value};
    }
    .m-#{$value},
    .mx-#{$value},
    .mr-#{$value} {
        margin-left: #{$value};
    }
    .m-#{$value},
    .my-#{$value},
    .mt-#{$value} {
        margin-left: #{$value};
    }
    .m-#{$value},
    .my-#{$value},
    .mb-#{$value} {
        margin-left: #{$value};
    }
}

// colors ------------------------------------

.text-black{ color: var(--color-black); }
.text-theme{ color: var(--color-theme); }

.hover-text-black:hover{ color: var(--color-black); }
.hover-text-dark:hover{ color: var(--color-dark); }
.hover-text-white:hover{ color: var(--color-white); }
.hover-text-theme:hover{ color: var(--color-theme); }

.bg-black{ background-color: var(--color-black); }
.bg-theme{ background-color: var(--color-theme); }

.hover-bg-dark:hover{ background-color: var(--color-dark); }
.hover-bg-black:hover{ background-color: var(--color-black); }
.hover-bg-white:hover{ background-color: var(--color-white); }
.hover-bg-theme:hover{ background-color: var(--color-theme); }
