@use '../abstracts' as *;

// font size
@each $size, $value in $font-size {
    .fz-#{$size} {
        font-size: var(--fz-#{$size});
    }
}

// margin and padding util classes
@each $value in $margin-padding {
    .m-#{$value},
    .mx-#{$value},
    .ml-#{$value} {
        margin-left: #{$value};
    }
    .m-#{$value},
    .mx-#{$value},
    .mr-#{$value} {
        margin-left: #{$value};
    }
    .m-#{$value},
    .my-#{$value},
    .mt-#{$value} {
        margin-left: #{$value};
    }
    .m-#{$value},
    .my-#{$value},
    .mb-#{$value} {
        margin-left: #{$value};
    }
}

// gutter for rows
@each $value in $row-gutters {
    .g-#{$value}px,
    .gx-#{$value}px {
        --bs-gutter-x: #{$value};
    }
    .g-#{$value}px,
    .gy-#{$value}px {
        --bs-gutter-y: #{$value};
    }
}

// colors ------------------------------------
@each $color, $value in $colors {
    .text-#{$color} { color: var(--color-#{$color}); }
}

.text-theme{ color: var(--color-primary); }

.hover-text-dark:hover{ color: var(--color-dark); }
.hover-text-dark:hover{ color: var(--color-dark); }
.hover-text-theme:hover{ color: var(--color-primary); }

.bg-dark{ background-color: var(--color-dark); }
.bg-theme{ background-color: var(--color-primary); }

.hover-bg-dark:hover{ background-color: var(--color-dark); }
.hover-bg-dark:hover{ background-color: var(--color-dark); }
.hover-bg-white:hover{ background-color: var(--color-white); }
.hover-bg-theme:hover{ background-color: var(--color-primary); }
