.button {
    border: none;
    text-decoration: none;
    display: inline-block;

    &--primary {
        @extend .button;
    }
    &--secondary {
        @extend .button;
    }
    &--tertiary {
        @extend .button;
    }
    &--icon {
        @extend .button;
    }
}