// font sizes ------------------------------------
.fz-very-small{ font-size: 1.2rem; }
.fz-small{ font-size: 1.4rem; }
.fz-16{ font-size: 1.6rem; }
.fz-20{ font-size: 2rem; }

// colors ------------------------------------
