// colors ------------------
:root {
    --color-white: #fff;
    --color-black: #000;
    --color-dark: #343a40;
    --text-black: #333;
    --bs-border: #dee2e6;

    // social media colors
    --facebook: #1877f2;
    --messenger: #0084ff;
    --twitter: #1da1f2;
    --linkedIn: #0a66c2;
    --skype: #00aff0;
    --google-plus: #ea4335;
    --youtube: #ff0000;
    --whatsApp: #25d366;
    --medium: #02b875;
    --instagram: #c32aa3;
    --pinterest: #bd081c;
    --google: #4285f4;
    --snapchat: #fffc00;
}

